svg {
    fill: none;
    width: 1.5rem;
    height: 1.5rem;
}

.cart-svg path { fill: rgb(255,255,255); }

.chevron-bottom-svg {
    stroke: rgb(255,255,255);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo{
    width: 17rem;
    height: auto;
}

.footer .logo{
    width: 30rem;
    height: auto;
}

.carousel:hover,
.cursor-pointer:hover,
.btn-main-offer:hover,
.cart:hover {
    animation: deepIn 3s;
    animation-fill-mode: forwards;
}

.carousel-img {
    max-width: 40vw;
    height: auto;
}

/* .about-us, .subscribe {
    height: 500px;
    padding: 130px;
} */

.about-us .img-wrapper > span, .subscribe .img-wrapper > span {
    border-radius: 200px;
    max-width: 30vw;
    height: auto; 
}

.about-us .img-wrapper > span > img, .subscribe .img-wrapper > span > img {
    max-width: 30vw;
    height: auto;
}   

.about-us p {
    font-size: .9rem;
}

.main-offers img {
    max-width: 20vw;
    height: auto;
}

.btn-main-offer {
    background-color: #f3f3f7;
}

.btn-main-offer:hover {
    background-color: #f3f3f7;
    color: rgb(0,0,0);
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 759px) {
    .stretch-content {
        width: 100%; 
        max-width: none; 
    }

    .footer .logo{
        
        width: 100%; 
        max-width: 100%; 
    }
}

@keyframes deepIn {
    from {
        opacity: 1;
    }
    to {
        opacity: .9;
    }
}